/* Start Variables */
:root {
  --main-color: #10cab7;
  --secondary-color: #2c4755;
}
/* End Variables */
/* Start Global Rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font-family: "Work Sans", sans-serif;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Small Screen */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium Screen */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }

}
/* Large Screen */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* End Global Rules */
/* Start Custom components */
.unique-heading {
  font-size: 100px;
  font-weight: 800;
  text-align: center;
  color: #ebeced;
  margin: 0;
  letter-spacing: -4px;
}
.unique-heading + p {
  font-size: 16px;
  text-align: center;
  margin-top: -30px;
  color: #797979;
}
@media (max-width: 767px) {
  .unique-heading {
    font-size: 70px;
  }
  .unique-heading + p {
    margin-top: -20px;
  }
}

/* End Custom components */
/* Start Header */
header {
  padding: 20px;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .container .logo{
  width: 60px;
}
header .container .links {
  position: relative;

}
header .container .links:hover  .icon span:nth-child(2) {
  width: 100%;
}
header .container .links .icon {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  width: 30px;
}
header .container .links .icon span {
  background-color: #333;
  margin-bottom: 5px;
  height: 3px;
}
header .container .links .icon span:first-child {
  width: 100%;
}
header .container .links .icon span:nth-child(2) {
  width: 60%;
  transition: width 0.3s;
}
header .container .links .icon span:last-child {
  width: 100%;
}
header .container .links ul {
  position: absolute;
  padding: 0px;
  right: 0;
  top: calc(100% + 15px);
  margin: 0;
  list-style: none;
  background-color: rgb(218, 205, 205);
  min-width: 190px;
  display: none;
  z-index: 1;
}
header .container .links:hover ul{
  display: block;
}
header .container .links ul::before {
  content: "";
  position: absolute;
  right: 5px;
  top: -20px;
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent rgb(218, 205, 205) transparent
}
header .container .links ul li:not(:last-child) {
  border-bottom: 2px solid #ddd;
}
header .container .links ul a{
  color: #333;
  text-decoration: none;
  display: block;
  padding: 18px;
  transition: padding 0.3s, color 0.3s 0.1s ;
  position: relative;
}
header .container .links ul a:hover {
  padding-left: 30px;
  color: greenyellow;
}
header .container .links ul a:hover::before {
  animation: move-triangle 0.5s forwards linear infinite;
  border-color:transparent transparent  transparent blueviolet
}
header .container .links ul a::before {
  content:"";
  position: absolute;
  left: 7px;
  border-width: 8px;
  border-style: solid;
  border-color: transparent transparent  transparent green;
}

@keyframes move-triangle {
  to {
    transform: translateX(4px);
  }
}
/* End Header */
/*  Start landing Section  */
.landing {
  background-image: url(../images/landing.jpg);
  height: calc(100vh - 64px);
  background-size: cover;
  position: relative;
}
.landing .intro-text {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 300px;
  max-width: 100%;

}
.landing .intro-text h1 {
  margin: 0;
  color: var(--main-color)
}
.landing .intro-text p {
  font-size: 18px;
  line-height: 1.7;
  
}
/*  End landing Section  */
/* Start Features Section */
.features {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #f6f6f6;
}
.features .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
  gap: 20px;
}
.features .feature-item {
  text-align: center;
  padding: 20px;
}
.features .feature-item i{
  color: var(--main-color);
}
.features .feature-item h3{
  font-size: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 800;
}
.features .feature-item p{
  line-height: 1.8;
  font-size: 13px;
  color: #777;
}
/* End Features Section */
/* Start Services Section */
.services {
  padding-top: 50px;
  padding-bottom: 50px;
}
.services .services-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
  margin-top: 100px;
}
.services .services-content .service-item {
  display: flex;
  margin-bottom: 45px;
}
@media (max-width: 767px) {
  .services .services-content .service-item {
    flex-direction: column;
    text-align: center;
  }
}
.services .services-content .service-item i {
  color: var(--main-color);
  flex-basis: 47px;
}
.services .services-content .service-item .service-text {
  flex: 1;
}
.services .services-content .service-item .service-text h3{
  margin: 0 0 20px;
}
.services .services-content .service-item .service-text p{
  color: #444;
  font-weight: 300;
  line-height: 1.7;
}
.services .services-content .image {
  text-align: center;
  position: relative;
  font-size: 0; /* To fix font size issue in image container*/
}
.services .services-content .image img {
  width: 280px;
  height: 280px;
  border-radius: 2%;
}
.services .services-content .image::before {
  content: "";
  position: absolute;
  width: 80px;
  background-color: var(--secondary-color);
  height: calc(100% + 40px);
  top: -20px;
  right: 0;
  z-index: -1;
}
@media (max-width: 1199px) {
  .services .services-content .image {
    display: none;
  }
}

/* End Services Section */